%section.ten-oh-announcement
  .container
    .row
      .col-sm-11.col-lg-6.ten-oh-label
        %span 10.0
      .col-sm-11.col-lg-6.ten-oh-description
        .ten-oh-description-body
          %h2.main-heading Our 71st consecutive monthly release.
          %p Our biggest release to date, GitLab 10.0 delivers on input from our customers, as well as joint development from our community. With GitLab 10.0, we’ve introduced a new navigation, a new way of collaborating across groups, expanded Kubernetes capabilities, and a hands-free DevOps environment making developing, testing, and releasing software faster and more reliable than ever.
          .btn-group
            %a.btn.cta-btn.ghost{href: "/2017/09/22/gitlab-10-0-released/"}
              See what’s new
