// "Lato" font-family
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');

// Common Tokens (variables)
$t-accent-font: Lato;
$t-accent-font-with-fallback: $t-accent-font, "Source Sans Pro", sans-serif;

// Mixins to isolate font weights
@mixin accent-font-light {
  font-family: $t-accent-font-with-fallback;
  font-weight: 300;
}

@mixin accent-font-regular {
  font-family: $t-accent-font-with-fallback;
  font-weight: 400;
}

@mixin accent-font-bold {
  font-family: $t-accent-font-with-fallback;
  font-weight: 700;
}

.jumbo-heading {
  @include accent-font-light;
  font-size: 45px;

  @media (min-width: $screen-md-min) {
    font-size: 55px;
  }
}

.main-heading {
  @include accent-font-light;
  margin-bottom: 20px;
  font-size: 34px;

  @media (min-width: $screen-md-min) {
    font-size: 42px;
  }
}

.sub-heading {
  @include accent-font-regular;
  font-size: 26px;

  @media (min-width: $screen-md-min) {
    font-size: 32px;
  }
}
